<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include templates/header%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><%= city.query.results.place.woeid%> <%=city.query.results.place.locality1.content%></h2>
    <h3><%=city.query.created%></h3>

  </body>
</html>
