<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.js"></script>
    </head>
    <body>
      <div class="container-fluid">
        <div class="nav navbar navbar-default">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img src="logo35.png" alt="Brand" />
            </a>
            <ul class="nav navbar-nav">
              <% include templates/header.ejs %>
            </ul>

          </div>
        </div>

        <h1>Wireless Power Control Unit <button type="button" name="button" class="btn btn-info dropdown-toggle pull-right" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>+</button></h1>
        <!--<p>Welcome to <%= title %></p>-->
</div>
<div class="container-fluid">

<table class="table">

<tr>
  <th>Device<th>
</tr>
        <% for(var i=0; i<deviceNum;i++){%>
          <% if(i%2 == 0) var color='success';else color = 'danger';%>
        <tr class='<%= color%>'><td><input type='textbox' value='Device <%= i%>' id='textbox'>
        <label class="switch">
          <input class="checkbox<%=i%>" type="checkbox">
         <div class="slider round"></div>
      </label></td></tr>
        <script>
         $(window).load(function(){
           var i =0;
             var status = '<%= output.devices[i].status%>';
             if(status == "ON"){
                $('.checkbox<%= i%>').attr('checked','checked');
             }else if(status == "OFF"){
               $('.checkbox<%= i%>').removeAttr('checked');
             }


         });

          $('.checkbox<%=i%>').change(function(){
            if(this.checked){
              //$('.result<%=i%>').text('checked');
              $.post('/',{status:'ON',device:<%=i%>}/*,function(result){$('#return').html(result)}*/);
            }else{
              //$('.result<%=i%>').text('unchecked');
              $.post('/',{status:'OFF',device:<%=i%>});
            }
          });
        </script>

      <%}%>
      </table>
  </div>
    </body>
</html>
